.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.icon-container {
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container img {
    height: 100%;
}

h1,span {
    font-family: 'Roboto', sans-serif;
}

.heading {
    position: relative;
}

h1 {
    font-size: 3em;
    color: #FFDE17;
}

.button-holder{
    position: relative;
}
button {
    font-size: 1.3em;
    background: #A7A1A1;
    border: none;
    color: #fff;
    border-radius: 100px;
    padding: 15px 20px;
    margin-top: 20px;
}

#setup, #punchline {
    font-size: 2em;
    text-align: center;
}

#setup {
    color:#A7A1A1;
}

#punchline {
    color:#FFDE17;
    font-weight: 700;
}

@media (min-width:700px) {
    #setup, #punchline {
        font-size: 1.5em;

    }
}